.widget-text {
	word-wrap: break-word;
	outline: none;
	padding: 5px;
}

.widget-text .widget-inner .widget-text-editor {
	width: 100%;
	outline: none;
	line-height: 1;
}

.widget-text-selecting {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}