.widget-headline {
	word-wrap: break-word;
	outline: none;
	padding: 1px;
}

.widget-headline .widget-inner .widget-headline-editor {
	width: 100%;
	outline: none;
	line-height: 1;
}

.widget-headline-selecting {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}