.widget-headline {
	outline: none;
}

.widget-headline .widget-inner .widget-headline-editor {
	width: 100%;
	outline: none;
	line-height: 20px;
}

.widget-headline-selecting {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}