.resize-block {
	position: absolute;
	background-color: #03ddff;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	border: 2px solid #fff;
	z-index: 10000;
}

.resize-block-n {
	right: 50%;
	right: calc(50% - 5px);
	top: -7px;
	cursor: n-resize;
}

.resize-block-e {
	right: -7px;
	top: 50%;
	top: calc(50% - 5px);
	cursor: e-resize;
}

.resize-block-s {
	right: 50%;
	right: calc(50% - 5px);
	bottom: -7px;
	cursor: s-resize;
}

.resize-block-w {
	left: -7px;
	top: 50%;
	top: calc(50% - 5px);
	cursor: w-resize;
}

.resize-block-ne {
	right: -7px;
	top: -7px;
	cursor: ne-resize;
}

.resize-block-se {
	right: -7px;
	bottom: -7px;
	cursor: se-resize;
}

.resize-block-sw {
	left: -7px;
	bottom: -7px;
	cursor: sw-resize;
}

.resize-block-nw {
	left: -7px;
	top: -7px;
	cursor: nw-resize;
} 
