.widget-button {
}

.dynamic-button {
	color: #fff;
	border-radius: 0;
	cursor: pointer;
	border: 1px solid transparent;
	padding: 0;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	font: bold 13px/100% Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
	line-height: 16px;
	background-image: none;
	background-color: rgb(0, 102, 204);
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid transparent;
	padding: 0;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
}

.dynamic-button.corners {
	border-radius: 5px;
}

.dynamic-button.shadow {
	-webkit-box-shadow: 0 1px 3px rgba(1,1,1,.5);
	-moz-box-shadow: 0 1px 3px rgba(1,1,1,.5);
	box-shadow: 0 1px 3px rgba(1,1,1,.5);
}

.dynamic-button.text-shadow {
	text-shadow: #000 0 1px 1px;
}

.sp-palette-container {
	border: 0;
}